.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.allEmails{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
}
.email{
  width:100%;
  display: flex;
  align-items: left;
  justify-content: space-between;
  border: 1px solid white;
  padding: 1vw;
}

.subject{
  margin-left: 20px;
  
  
}

.message{
  display: flex;
  align-items: left;
  justify-content: left;
  margin-left: 10vw
}

#modal{
  margin: 20%;
  background: black;
  
}
