.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.allEmails{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-size: 16px;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
}
.email{
  width:100%;
  display: flex;
  align-items: left;
  justify-content: space-between;
  border: 1px solid white;
  padding: 1vw;

}

.email:hover{
  background-color: white;
  border: 1px solid #282c34;
  color: #282c34;
}

.subject{
  
  width: 45vw;
  text-align: left;
}

.sender{
  width: 45vw;
  text-align: left;
}

.message{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-left: 10vw
}

#modal{
  margin: 10%;
  background: black;
  
}

.searchBar{
  position: sticky;
  top: 0px;
  height: 5vh;
  min-height: 50px;
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
